<script type="text/javascript">
  $(document).ready(function() {
      $('#page-title').text('Payment');
  })
</script>

<h3>Please pay to complete your order...</h3>

<div style="width: 380px; border-radius: 5px; background: #014051; color: white; padding: 5px; margin-left: 10px; float: left;">
  <h3>Credit Card</h3>

  <div style="float: right;">
    <form method="post" action="<%= PAYMENT_SERVER_CONFIG %>">
      <%= render :partial => 'payment_fields' %>
      <%= image_tag 'ttyd-accepted-creditcards.png', height: 50, width: 150; %>
      <input type="submit" value="Pay Now" class="btn btn-success"/>
    </form>
  </div>
</div>