<div style="height: 120px; width: 380px; border-radius: 5px; background: #014051; color: white; padding: 5px; margin-left: 10px; float: left;">
  <h3>GreenPeso</h3>

  <div style="float: right;">
    <form method="post" action="<%= GREENPESO_ENDPOINT %>">
      <%= render :partial => 'greenpeso_payment_fields' %>
      <%= image_tag 'bancnet.png', height: 50, width: 150; %>
      <input type="submit" value="Pay Now" class="btn btn-success"/>
    </form>
  </div>
</div>