<script type="text/javascript">
    $(document).ready(function() {
        $('#page-title').text('Payment');
    })
</script>

<h3>Please choose how you would like to pay...</h3>

<%= render :partial => 'bpi_peso' %>

<%= render :partial => 'greenpeso' %>
