<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/metro-bootstrap.css">
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/js/jquery/jquery.ui.widget.min.js"></script>
  <script src="/js/metro/metro.min.js"></script>

  <title>EMBA Online Payment Dashboard</title>
</head>

<body class="metro">
<div class="container">
  <nav class="navigation-bar">
    <nav class="navigation-bar-content">
      <div class="element">
        <a class="dropdown-toggle" href="#">EMBA Online Payment</a>
        <ul class="dropdown-menu" data-role="dropdown">
          <li><a href="registration_transactions">Registrations</a></li>
          <li><a href="programs">Programs</a></li>
          <li class="divider"></li>
          <li><a href="payment_receipts">Payment Details</a></li>
        </ul>
      </div>

      <span class="element-divider"></span>
      <a class="element brand" href="#"><span class="icon-spin"></span></a>
      <a class="element brand" href="#"><span class="icon-printer"></span></a>
      <span class="element-divider"></span>

      <div class="element input-element">
        <form>
          <div class="input-control text">
            <input type="text" placeholder="Search...">
            <button class="btn-search"></button>
          </div>
        </form>
      </div>

      <div class="element place-right">
        <a class="dropdown-toggle" href="#">
          <span class="icon-cog"></span>
        </a>
        <ul class="dropdown-menu place-right" data-role="dropdown">
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <span class="element-divider place-right"></span>
      <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>
      <span class="element-divider place-right"></span>
      <button class="element image-button image-left place-right">
        User
        <%= image_tag 'patrick.jpg' %>
      </button>
    </nav>
  </nav>

  <div class="potential-errors">
    <% if notice.present? %>
        <script type="text/javascript">
            $.Notify({
                title: "Notification",
                content: "<%= notice.html_safe %>",
                style: {background: 'darkRed', color: 'white'}
            });
        </script>
    <% end %>
    <% if alert.present? %>
        <script type="text/javascript">
            $.Notify({
                title: "Error",
                content: "<%= alert.html_safe %>",
                style: {background: 'darkRed', color: 'white'}
            });
        </script>
    <% end %>
  </div>

  <div class="content-container">

    <%= yield %>

  </div>
</div>

</body>
</html>
